<h2 *ngIf="!partesCargadas">Cargando...</h2>
<div class="container" *ngIf="isLogued && partesCargadas">
    <h2>{{ title }}</h2>

    <div>
        <form novalidate [formGroup]="vehiculoForm" (keydown.enter)="$event.preventDefault()">
            <div class="col-xs-5">
                <h3>Datos</h3>
                <div class="form-row">
                    <input type="text" class="form-control" id="numeroSiniestroInput" formControlName="numeroSiniestro"
                        required>
                    <label for="numeroSiniestroInput">Numero de Siniestro</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control checkexist" formControlName="dominio" id="dominioInput" name="dominioInput" (keydown)="chasisCambiado($event)">
                    <label for="dominioInput">Dominio</label>
                    <div *ngIf="chasisRepetido">Este numero de Chasis ya existe</div>
                    <ngx-spinner></ngx-spinner>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="formulario04dInput" formControlName="formulario04d">
                    <label for="formulario04dInput">Formulario 04d</label>
                
                    <div class="divs" *ngIf="vehiculoForm.controls['dominio'].value" (click)="ocultar($event)"><a id="aref04f" href="{{ linkImagen + vehiculoForm.controls['dominio'].value + '&tipo=' + 'front04'}}" target="_blank">Cargar Foto 04 Frontal</a></div>
                    <div class="divs" *ngIf="vehiculoForm.controls['dominio'].value" (click)="ocultar($event)"><a id="aref04b" href="{{ linkImagen + vehiculoForm.controls['dominio'].value + '&tipo=' + 'back04'}}" target="_blank">Cargar Foto 04 Dorsal</a></div>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="certificadoBajaInput" formControlName="certificadoBaja">
                    <label for="certificadoBajaInput">Certificado de Baja</label>
                    <div class="divs" *ngIf="vehiculoForm.controls['dominio'].value" (click)="ocultar($event)"><a id="arefbajaf" href="{{ linkImagen + vehiculoForm.controls['dominio'].value + '&tipo=' + 'frontbaja'}}" target="_blank">Cargar Foto Baja Frontal</a></div>
                    <div class="divs" *ngIf="vehiculoForm.controls['dominio'].value" (click)="ocultar($event)"><a id="arefbajab" href="{{ linkImagen + vehiculoForm.controls['dominio'].value + '&tipo=' + 'backbaja'}}" target="_blank">Cargar Foto Baja Dorsal</a></div>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="registroSeccionalInput"
                        formControlName="registroSeccional">
                    <label for="registroSeccionalInput">Registro Seccional</label>
                </div>

                <!-- <div class="form-row">
                    <input type="number" class="form-control" id="cantidadEtiquetasInput"
                        formControlName="cantidadEtiquetas" value="{{ cantidadSeleccionadas }}">
                    <label for="cantidadEtiquetasInput">Cantidad de Etiquetas: {{ cantidadSeleccionadas }}</label>
                </div> -->
                <div class="form-row">
                    <input type="text" class="form-control" id="titularInput" formControlName="titular">
                    <label for="titularInput">Titular</label>
                </div>
                <div class=" form-row">
                    <input type="text" class="form-control" id="marcaInput" formControlName="marca">
                    <label for="marcaInput">Marca</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="modeloInput" formControlName="modelo">
                    <label for="modeloInput">Modelo</label>
                </div>
                <div class="form-row">

                    <input type="text" class="form-control" id="marcaMotorInput" formControlName="marcaMotor">
                    <label for="marcaMotorInput">Marca del Motor</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="numeroMotorInput" formControlName="numeroMotor">
                    <label for="numeroMotorInput">Numero de Motor</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="marcaChasisInput" formControlName="marcaChasis">
                    <label for="marcaChasisInput">Marca de Chasis</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="numeroChasisInput" formControlName="numeroChasis">
                    <label for="numeroChasisInput">Numero de Chasis</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="localidadInput" formControlName="localidad">
                    <label for="localidadInput">Localidad</label>
                </div>
                <div class="form-row">
                    <input type="text" class="form-control" id="provinciaInput" formControlName="provincia">
                    <label for="provinciaInput">Provincia</label>
                </div>
                <div class="form-row">
                    Estado del trámite
                    <select class="form-control" formControlName="estado">
                        <option value="VEHIC. INGRESADO" selected>VEHIC. INGRESADO</option>
                        <option value="FORM. 04 ENTREGADO">FORM 04 ENTREGADO</option>
                        <option value="PAGADO">PAGADO</option>
                        <option value="STICKERS RETIRADOS">STICKERS RETIRADOS</option>
                    </select>
                </div>

                <div class="form-row">
                    <textarea class="form-control" id="observacionPagoInput"
                        formControlName="observacionPago"></textarea>
                    <label for="observacionPagoInput">Observacion del Pago</label>
                </div>

                <br>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit($event)" id="submitButton"
                        [disabled]="vehiculoForm.invalid">Guardar</button>
                </div>
            </div>
            <div class="col-xs-5">
                <h3>Partes</h3>
                <div *ngIf="partes.length">
                    <div *ngFor="let parte of partes">
                        <hr *ngIf="isEditMode">
                        <input type="checkbox" (change)="onChecklistChange($event.target.checked, parte)"
                            [checked]="parte.checked" [value]="parte.checked" />
                        <span>{{ parte.descripcion | titlecase }}</span>
                        <input type="text" [value]="parte.numeroEtiqueta" id="etiqueta" *ngIf="parte.checked"
                            (input)="parte.numeroEtiqueta = $event.target.value" class="form-control input-parte"
                            required />
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-row">
                    <label for="cantidadEtiquetasInput">Cantidad de Etiquetas: {{ cantidadSeleccionadas }}</label>
                </div>
            </div>
        </form>
    </div>
</div>